{
    "active": true,
    "branch_filter": "main",
    "config": {
	"content_type": "json",
	"url": "http://el-ansible-staging-ansible-pipeline.apps.ocp.lan.stderr.at",
	"secret": ""
    },
    "events": [
	"push"
    ],
    "type": "gitea"
}
