{
    "active": true,
    "branch_filter": "feature/*",
    "config": {
	"content_type": "json",
	"url": "https://ctrl.apps.ocp.lan.stderr.at/api/v2/job_templates/13/github/"
    },
    "events": [
	"push"
    ],
    "type": "gitea"
}
