kind: Secret
apiVersion: v1
metadata:
  name: ansible-staging-git-basic-auth
type: Opaque
stringData:
  .gitconfig: |
    [credential "http://gitea-http.gitea:3000"]
      helper = store
  .git-credentials: |
    http://developer:{{ pipeline_gitea_developer_token }}@gitea-http.gitea:3000
